{% extends 'base.html' %}

{% block title %} TonyPNode {% endblock %}

{% block body %}
    <h1 align="center" class="display-2">Anthony Pillitiere</h1>
    <p><img src="static/tonyp_webfront/img/purplemonkey11.jpg"></p>
    <h5 align="center" class="display-7">tony@tonypnode.info | 702.508.8723</h5>
    <div class="container">


    </div>
    <div class="panel panel-default">
  <div class="panel-body">A Basic Panel</div>
</div>
    <h1 align="center" class="display-4">Portfolio and Projects</h1>
        <div class="row">
        <div class="col">
            <div class="card">
                <img src="static/tonyp_webfront/img/python-powered-w-200x80.png" alt="Avatar" style="width:100%">
                <div class="cardcontainer">
                    <h4><b>Python</b></h4>
            </div>
        </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/tonyp_webfront/img/gophercolor.png" alt="Avatar" style="width:100%">
                <div class="cardcontainer">
                    <h4><b>GoLang</b></h4>
            </div>
        </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/tonyp_webfront/img/stack1.png" alt="Avatar" style="width:100%">
                <div class="cardcontainer">
                    <h4><b>Full Stack Stuff</b></h4>
            </div>
        </div>
        </div>
  </div>






{% endblock %}