{% extends 'base.html' %}
{% load static %}
{% block title %} TonyPNode {% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
        <h1 class="font-weight-light">Anthony Pillitiere</h1>
        <img align="center" src="{% static '/tonyp_webfront/img/fam1.jpg' %}" id="famPic" class="img-fluid" alt="Responsive image">
        <p class="font-weight-light"><h3>A little about me</h3></p>
        <p> 21 years of dedicated military service in the United States Air Force. 25 years of IT operations experience across a wide breadth of IT (see list below).
            <br>I have a passion for solving problems with tech.
            <br/><ul>
                    <li>Physical media, including RF transmissions, fiber, thick/thin net (yes, I remember good ole thick net), ethernet</li>
                    <li>Switching, Routing (majority of experience in Cisco implementation)</li>
                    <li>AD, DNS, Mail, Firewalls, HW and SW cryptographic devices, servers, load balancing, Radio over IP (RoIP), Unified Communications (Cisco CUCM), mulitcast, PIM</li>
                    <li>Virtualization, Containerization, DevOps, DevSecOps, DevNetOps, Kubernettes, VMWare, Docker, RedHat Virtualization</li>
                    <li>SAN, iSCSI, FCOE, JBOD, Netapp, FreeNAS</li>
                    <li>Web Development, php, JS, Django, xml, ActionScript 2 and 3, CSS, bootstrap</li>
                    <li>Linux and Windows servers and clients - From Cisco's Flexpod architecture all the way down to RaspberryPI, RHEL, RHV, CentOS, Ubuntu, FreeBSD</li>
                    <li>Databases - MSSQL, MySQL, Neo4j</li>
                    <li>Automation/Programming - Python, Ansible, Ansible Tower, Terraform, Phantom SOAR, GO, PowerShell, Bash, Git, TDD, OOP, Scripting, CICD, Travis-CI, Gitlab-CI</li>
                    <li>Public and Private cloud - OpenStack, AWS, Azure</li>
                    <li>Monitoring/Management - Splunk, Solarwinds (all modules less LEM), Nagios, Prometheus, NetBrain, RouteExplorer, Syslog, SNMP, ASN-1, NetBox</li>
                    <li>Global distribution of systems</li>
                </ul>
            <p>
        <p class="font-weight-light"><h3>Positions</h3>
        <br/><ul>
                <li><b>Deputy Chief Technology Officer</b> - Special Operations Command Organization, Ft. Bragg NC | June 2019 to Present - MSgt E-7</li>
                <li><b>Site Reliability Engineering Program Manager</b> - Special Operations Command Organization, Ft. Bragg NC | June 2018 - Present - MSgt E-7</li>
                <li><b>Enterprise Logging and Monitoring Architect</b> - Special Operations Command Organization, Ft. Bragg NC | June 2018 - June 2019 - MSgt E-7</li>
                <li><b>Enterprise Services Management Program Manager</b> - Joint Communications Unit - Ft. Bragg NC | October 2015 - June 2018 - MSgt E-7</li>
                <li><b>Tech Lead</b> - Joint Communications Unit - Ft. Bragg NC | January 2014 - October 2015 - MSgt E-7</li>
                <li><b>Instructor & Instructor Supervisor</b> - 338th Training Squadron - Keesler AFB MS | May 2010 - January 2014 - MSgt E-7</li>
                <li><b>Senior Network Engineer</b> - Las Vegas NV | March 2004 - May 2010 - Technical Sergeant E-6</li>
                <li><b>Senior Tactical Communications Engineer</b> - 49th Communications Squadron Holloman AFB NM | - March 2004 - Staff Sergeant E-5</li>
                <li><b>Senior Firewall Administrator</b> - 49th Communications Squadron - Senior Airman E-4</li>
                <li><b>Network Technician</b> - 49th Communications Squadron Holloman AFB NM | Airman First Class E-3</li>
                <li><b>Help Desk Technician</b> - 49th Communications Squadron Holloman AFB NM | Airman First Class E-3</li>
                <li><b>Padawan learner</b> United States Air Force :) Lackland AFB TX and Keesler AFB MS</li>
                <li><b>Technology Support Technician</b> - Summit County School District Akron Ohio | </li>
                <li><b>Co-Founder and Senior Technician</b> - GenXTech Akron Ohio</li>
                <li><b>Golf Ball Picker Upper</b> - Firestone Country Club Akron Ohio</li>
                <li><b>Dishwasher</b> - Pillitiere's Family Restaurant Akron Ohio</li>
            </ul>
         </p>


    </div>
  </div>

</div>
{% endblock %}
