{% extends 'base.html' %}
{% load static %}
{% block title %} TonyPNode {% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
        <h1 class="font-weight-light">Anthony Pillitiere</h1>
        <img align="center" src="{% static 'tonyp_webfront/img/fam1.jpg' %}" id="famPic" class="img-fluid" alt="Responsive image">
        <p class="font-weight-light">Short Biography</p>
        <p>in 1999 I joined the United States Air Force as a Computer and Switching Systems Apprentice.
            <br/>My training consisted of component level troubleshooting of the computer systems that controlled communication between Intercontinental Ballistic Missile (ICBM) silos.
            <br>I learned very early on that reliable communications and the ability to restore service was of the utmost importance. Although the training <br/>
            was very informative when I graduated, I was put in a Network Control Center as a help desk technician.

            <p> As I demonstrated my passion learning and ability to ingest complex system and understand them quickly, I was moved to the boundary security team<br/>
        </p>

    </div>
  </div>
</div>
{% endblock %}