body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: url('/static/tonyp_webfront/img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

#purpleMonkey {
  max-width: 10%;
}

#famPic {
  max-width: 40%;
}

